    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Bloodaxe Vikings</h2>
                <p>We are a friendly Northamptonshire based Viking & Dark Age reenactment group with a focus on living history displays and western style combat demonstrations.</p>
                <p>We have some excellent craftspeople amongst us, alongside storytellers and spokespersons, all avalible and able to host talks or be part of living history displays at museums & reenactment events. We are also avalible for media, corporate & community events as well as TV and film.</p>
                <p>We welcome families as well as individuals, and aim to provide family friendly displays at all events. Children are welcome as living history participants at any age, as well as combat warriors once they are over the age of 16. We have meetings, group trips and combat training sessions regularly both in and out of the reenactment season.</p>
                <p>If you are interested in booking us, in coming along to a meet up/training session, or in joining the group, please feel free to drop us a message. See the Contact section for more details. </p>
            </div>
        </div>
    </section>